<main id="cadastro" data-ng-controller="CadastroCtrl as vm">
	<section>
		<form ng-submit="vm.cadastrarCarro()">
			<label>
				Modelo
				<input type="text" ng-model="vm.carro.modelo" value="" required>
			</label>
			<label>
				Cor:
				<select ng-model="vm.carro.cor" required>
					<option value="" selected></option>
					<option ng-repeat="cor in vm.cores" value="{{cor.id}}">{{cor.title}}</option>
				</select>
			</label>
			<label>
				Placa:
				<input type="text" ng-model="vm.carro.placa" value="" required placeholder="AAA-9999">
			</label>
			<label>
				Combustível:
				<input type="text" ng-model="vm.carro.combustivel" value="">
			</label>
			<label>
				Imagem:
				<input type="text" ng-model="vm.carro.imagem" value="" placeholder="http://...">
			</label>
			<label>
				Marca:
				<select ng-model="vm.carro.marca">
					<option ng-repeat="marca in vm.marcas" value="{{marca.id}}">{{marca.title}}</option>
				</select>
			</label>
			<button ng-click="vm.cadastrarCarro()" type="submit" class="btn btn-success">Cadastrar</button>
		</form>
	</section>
</main>